/* My body css style code*/
body{
    background-color: crimson;
}
/*navbar style*/
* {
    text-decoration: none;
}
.navbar {
    background-color: darkgray; padding-left: 15px; padding-right: 15px; font-family: georgia;
}
.navdiv {
    display: flex; align-items: center; justify-content: space-between;
}
.name {
    font-size: 30px; font-weight: 600; color: black;
}
li {
    list-style: none; display:inline-block;
}
li a {
    font-size: 20px; font-weight: bold; color: black; margin-right: 20px;
}
/*My index.html css style code*/
.info {
    font-size: 50px; font-weight: bold; color: whitesmoke; padding-left: 210px;
}
.info1 {
    font-size: 25px; font-family: verdana; color: whitesmoke; padding-left: 280px; width: 300px; padding-top: 35px;
}
.quote {
    font-size: 30px; font-family: verdana; color: whitesmoke; font-family: cursive; margin: 250px; text-align: center;
}
.photo {
    width: 250px; display: block; float: right; padding-right: 350px; padding-top: 75px;
}
/* My about.html css style code*/
body {
    background-color: crimson;
}
.about {
    font-size: 60px; font-family: cambria; text-align: center; color:whitesmoke; font-style:italic; border-bottom: solid;
}
.hobbies {
    border-bottom: solid; color:whitesmoke; font-size: 30px; font-weight: bold; padding-left: 200px;
}
.hb2 {
    font-size: 20px; width: 750px;
}
img {
    width: 250px; float: right; padding-right: 200px;
}
/*My portfolio.html css style code*/
.port {
    font-size: 50px; border-bottom: solid; font-style: oblique; font-family: cursive; color:whitesmoke; font-weight: bold; margin-left: 200px; margin-right: 200px;
}
.legacy {
    background-color: white; font-weight: bold; width: 700px; margin-top: 50px; margin-left: 360px; text-align: center; 
}
.legacy2 {
    font-size: 25px; text-align: left; border-bottom: solid; margin-left: 15px; margin-right: 15px;
}
.gtr{
    width: 100px; margin-left: 800px; margin-bottom: 60px;
}
.pcbuild {
    width: 60px; margin-left: 800px; margin-bottom: 60px;
}
.art {
    width: 60px; margin-left: 800px; margin-bottom: 60px;
}
/*Webbar style*/
.webbar{
    background-color: darkgray; padding-left: 550px; font-family: georgia;
}
.webdiv{
    display: flex; align-items: center; justify-content: space-between;
}